.banner-section{
    border: 2px solid black;
    margin: 0 auto;
    margin-top:1em;
    margin-bottom:1em;
    min-height:600px;
    width:90%;
    padding-bottom:2em;
}
.banner-set{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}